AddHandler fcgid-script .py
RewriteEngine On

# redirect www
RewriteCond %{HTTP_HOST} ^www.lbolla.info$
RewriteRule ^/?$ "http\:\/\/lbolla\.info" [R=301,L]

# external websites
Redirect 301 /cv http://lorenzobolla.emurse.com
Redirect 301 /pics http://www.flickr.com/lbolla

# lbolla.info
RewriteCond %{HTTP_HOST} ^lbolla.info$ [NC]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ screens/index.py/$1 [QSA,L]

# lauraelorenzo.info
RewriteCond %{HTTP_HOST} ^lauraelorenzo.info$ [OR]
RewriteCond %{HTTP_HOST} ^www.lauraelorenzo.info$
RewriteRule ^/?$ "http\:\/\/w\.lbolla\.info" [R=301,L]
