RewriteEngine On

# redirect www
RewriteCond %{HTTP_HOST} ^www.lbolla.info$
RewriteRule ^/?$ "http\:\/\/lbolla\.info" [R=301,L]

# external websites
Redirect temp /pics http://www.flickr.com/lbolla

# about/me page
RewriteCond %{HTTP_HOST} ^lbolla.info$ [NC]
RewriteRule ^/?$ /blog/me/ [R]
