html {
	background-color: #a60000;
	height: 100%;
}

body {
	position: relative;
	overflow: hidden;
	font-family: verdana, arial, sans-serif;
	height: 100%;
}

#title {
	position: relative;
	width: 10%
	left: 45%;
	top: 25%;
	text-align: center;
	font-weight: bold;
	z-index: 10;
}

#topbar {
	position: absolute;
	top: 0;
	left: 0;
}

#statusbar {
	position: absolute;
	top: 0;
	right: 0;
}

.quote {
	margin: 1em 0 1em 0;
}

.quote p {
	margin: 0;
	padding: 0;
	color: white;
	font-size: 70%;
}

.fade {
	display: none;
}

.menubar ul {
	padding: 0;
	margin: 0;
}

.menubar ul li {
	display: inline;
	list-style-type: none;
	padding-right: .5em;
}

.menubar a {
	font-size: 70%;
	color: black;
	text-decoration: none;
}

