html {
	background-color: #a60000;
	height: 100%;
}

body {
	position: relative;
	overflow: hidden;
	font-family: verdana, arial, sans-serif;
	height: 100%;
}

.quote {
	margin: 1em 0 1em 0;
}

.quote p {
	margin: 0;
	padding: 0;
	color: white;
	font-size: 70%;
}

#title {
	position: relative;
	width: 10%
	left: 45%;
	top: 25%;
	text-align: center;
	font-weight: bold;
	z-index: 10;
}
