html {
	background-color: red;
}

body {
	position: relative;
	overflow: hidden;
}

.quote {
	margin: 1em 0 1em 0;
}

.quote p {
	margin: 0;
	padding: 0;
}

#title {
	position: relative;
	width: 10%
	left: 45%;
	top: 25%;
	text-align: center;
}
