body {
    font: 16px/1.9em Libre Baskerville, serif !important;
    font-feature-settings: "liga" on, "dlig" on !important;
    font-variant-ligatures: common-ligatures discretionary-ligatures !important;
}

a {
    color: #044c7d !important;
}
.timestamp {
    color: #5d5d5d !important;
}
ul li span.timestamp {
    float: left;
    width: 10em;
}
.org-src-container>pre.src-go:before {
    content: 'Go';
}
.org-src-container>pre.src-vim:before {
    content: 'VimScript';
}
.org-src-container>pre.src-C:before {
    content: 'C';
}
.org-src-container>pre.src-python:before {
    content: 'Python';
}
.org-src-container>pre.src-elixir:before {
    content: 'Elixir';
}
.org-src-container>pre.src-rust:before {
    content: 'Rust';
}
.org-src-container>pre.src-shell:before {
    content: 'Shell';
}
.org-src-container>pre.src-lisp:before {
    content: 'Lisp';
}
.org-src-container>pre.src-ipython:before {
    content: 'iPython';
}
