@font-face {
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 400;
    font-display: fallback;
    src:
        local('Libre Baskerville'),
        local('LibreBaskerville-Regular'),
        url(/fonts/libre-baskerville.woff2) format('woff2');
}

@font-face {
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 700;
    font-display: fallback;
    src:
        local('Libre Baskerville Bold'),
        local('LibreBaskerville-Bold'),
        url(/fonts/libre-baskerville-bold.woff2) format('woff2');
}

@font-face {
    font-family: 'Libre Baskerville';
    font-style: italic;
    font-weight: 400;
    font-display: fallback;
    src:
        local('Libre Baskerville Italic'),
        local('LibreBaskerville-Italic'), url(/fonts/libre-baskerville-italic.woff2) format('woff2');
}

body {
    font: 16px/1.9em Libre Baskerville, DejaVu Serif, Georgia, serif !important;
    font-feature-settings: "liga" on, "dlig" on !important;
    font-variant-ligatures: common-ligatures discretionary-ligatures !important;
    text-rendering: optimizelegibility;
}

a {
    color: #044c7d !important;
}
.timestamp {
    color: #5d5d5d !important;
}
ul li span.timestamp {
    float: left;
    width: 10em;
}
.org-src-container>pre.src-go:before {
    content: 'Go';
}
.org-src-container>pre.src-vim:before {
    content: 'VimScript';
}
.org-src-container>pre.src-C:before {
    content: 'C';
}
.org-src-container>pre.src-python:before {
    content: 'Python';
}
.org-src-container>pre.src-elixir:before {
    content: 'Elixir';
}
.org-src-container>pre.src-rust:before {
    content: 'Rust';
}
.org-src-container>pre.src-shell:before {
    content: 'Shell';
}
.org-src-container>pre.src-lisp:before {
    content: 'Lisp';
}
.org-src-container>pre.src-ipython:before {
    content: 'iPython';
}

pre.example {
    background-color: #efe !important;
    overflow-y: auto;
}

code {
    background-color: #efe !important;
    overflow-y: auto;
}
