{{ template "chrome/header.html" . }}
<body>
{{ template "chrome/navbar.html" . }}
<div class="container">
    <div class="row">
        <div class="col-md-9">
	    <script>
	      (function() {
	      var cx = '014344711777067465238:ipwcmphdr_g';
	      var gcse = document.createElement('script'); gcse.type = 'text/javascript'; gcse.async = true;
	      gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
	      '//www.google.co.uk/cse/cse.js?cx=' + cx;
	      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(gcse, s);
	      })();
	    </script>
	    <gcse:searchresults-only></gcse:searchresults-only>

	    <h1>{{ .Title }}</h1>
	    <img src="/img/404.jpg" />
	    {{ .Content }}
	    
        </div>

        <!-- Sidebar -->
        <div class="col-md-3">
        {{ template "chrome/menu.html" . }}
        </div>
    </div>
{{ template "chrome/footer.copyright.html" . }}
</div>
{{ template "chrome/footer.html" . }}
