    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">Contact me</h2>
        </div>
        <div class="panel-body">
	    <p>Hi! I'm Lorenzo Bolla, <a href="/cv">Senior Software Architect in London, UK</a>.</p>
	    <p>When I'm not programming in <a href="https://www.python.org/">Python</a>, <a href="http://golang.org/">Go</a>, <a href="http://www.haskell.org/">Haskell</a> or <a href="http://clojure.org/">Clojure</a>, I am playing either basketball, piano or chess.</p>
            <a href="mailto:lbolla@gmail.com" class="btn btn-default btn-xs" title="Email"><i class="fa fa-envelope-square fa-2x"></i></a>
            <a href="https://github.com/lbolla/" class="btn btn-success btn-xs" title="Github"><i class="fa fa-github-square fa-2x"></i></a>
            <a href="http://www.linkedin.com/in/lorenzobolla" class="btn btn-primary btn-xs" title="LinkedIn"><i class="fa fa-liiiiinkedin-square fa-2x"></i></a>
            <a href="http://stackoverflow.com/users/1063605/lbolla" class="btn btn-danger btn-xs" title="StackOverflow"><i class="fa fa-stack-overflow fa-2x"></i></a>
            <a href="https://plus.google.com/+LorenzoBolla/about" class="btn btn-info btn-xs" title="Google+"><i class="fa fa-gooooogle-plus-square fa-2x"></i></a>
            <!-- <a href="/cv" class="btn btn-default btn-xs" title="CV"><i class="fa fa-file fa-2x"></i></a> -->
        </div>
    </div>
