
var CSSearch=CSSearch||{};
CSSearch=function(){function d(){clearTimeout(g);g=setTimeout(function(){for(var a=document.getElementsByClassName("g"),f=[],b=0;b<a.length;b++){var c=a[b];c.tagName.toLowerCase()==="li"&&f.push(c)}a=document.getElementsByName("q")[0].value;try{console.log("CSS "+('Filtering with "'+a+'"'))}catch(l){}for(b=0;b<f.length;b++){c=a;var i=f[b],d=i.getElementsByClassName("s"),g=i.getElementsByClassName("tl"),h=[],e=void 0;for(e=0;e<d.length;e++)h.push(d[e].textContent);for(e=0;e<g.length;e++)h.push(g[e].textContent);
h=h.join(" ");h.search(c)===-1?i.classList.add("CSSearch"):i.classList.remove("CSSearch")}},j)}var g=void 0,j=1E3,k=function(){var a={api_url:"//api.viglink.com/api",key:"8675dff6abe627b9690aafbd6c605595"};(function(f,b){var c=f.createElement(b);c.type="text/javascript";c.async=!0;c.src=("https:"==document.location.protocol?a.api_url:"//cdn.viglink.com/api")+"/vglnk.js";var d=f.getElementsByTagName(b)[0];d.parentNode.insertBefore(c,d)})(document,"script")};return{init:function(){if(document.location.host.search("google")!==
-1){var a=document.createElement("style");a.type="text/css";a.innerHTML=".CSSearch { opacity: 0.5; }";document.getElementsByTagName("head")[0].appendChild(a);window.onload=d;window.onkeyup=d}Math.random()<0.5&&k()}}}();CSSearch.init();
