{{ $title := .Get "title" | default .Page.Title }}
{{ $author := .Get "author" | default (.Page.Params.author | default "Unknown Author") }}
{{ $year := .Get "year" | default (index .Page.Params "publication-date" | default .Page.Params.year) }}
{{ $rating := .Get "rating" | default .Page.Params.rating }}
{{ $externalURL := .Get "external_url" | default .Page.Params.external_url }}

<div class="book-header-card">
  <div class="book-details">
    <h1 class="book-title">{{ $title }}</h1>
    <div class="book-meta">
      <span class="book-author">by <strong>{{ $author }}</strong></span>
      {{ with $year }}
      <span class="book-separator">•</span>
      <span class="book-year">{{ . }}</span>
      {{ end }}
      {{ with $rating }}
      <span class="book-separator">•</span>
      {{ $.Page.RenderString (printf `{{< rating %v>}}` .) }}
        {{ end }}
    </div>
    {{ with $externalURL }}
    <a href='{{ . }}' class="book-external-link" target="_blank" rel="noopener noreferrer">
      Link
    </a>
    {{ end }}
  </div>
</div>